.places {
  display: grid;
  justify-content: center;
  row-gap: 80px;
  padding: 0 48px;
}

@media screen and (max-width: 1020px) {
  .places {
    padding: 0 24px;
    row-gap: 73px;
  }
}

@media screen and (max-width: 760px) {
  .places {
    padding: 0 0;
    row-gap: 50px;
  }
}
