.cover {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  padding: 92px 48px;
}

@media screen and (max-width: 1024px) {
  .cover {
    padding: 92px 0;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    padding: 88px 0;
  }
}

@media screen and (max-width: 450px) {
  .cover {
    padding: 65px 0;
  }
}
