.lead__caption {
  align-self: flex-start;
  font-size: 10px;
  line-height: 1.4;
  padding-top: 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media screen and (max-width: 450px) {
  .lead__caption {
    padding-left: 16px;
  }
}
