.lead__figure {
  display: flex;
  flex-direction: column;
  padding-top: 64px;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .lead__figure {
    padding-top: 56px;
  }
}

@media screen and (max-width: 450px) {
  .lead__figure {
    padding-top: 40px;
  }
}
